

trigger: none

pool: TestAgent

variables:
- name: WORKDIR
  value: '$(System.DefaultWorkingDirectory)/environment/dev'
- name: SERV_CON
  value: service_conn

jobs:
- job: TerraformInstall
  displayName: terraform install
  steps:
    - task: TerraformInstaller@1
      inputs:
        terraformVersion: 'latest'
- job: TerraformInit
  displayName: Terraform Init
  steps:
  - task: TerraformTask@5
    inputs:
      provider: 'azurerm'
      command: 'init'
      backendServiceArm: 'service_conn'
      backendAzureRmStorageAccountName: 'rahulbackendstorage'
      backendAzureRmContainerName: 'blobcontainer'
      backendAzureRmKey: 'terraform.tfstate'
  - task: TerraformTask@5
    inputs:
      provider: 'azurerm'
      command: 'plan'
      workingDirectory: 'WORKDIR'
      environmentServiceNameAzureRM: 'service_conn'
  - task: TerraformTask@5
    inputs:
      provider: 'azurerm'
      command: 'apply'
      workingDirectory: 'WORKDIR'
      environmentServiceNameAzureRM: 'service_conn'
      


