# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool: Agent007

variables:
- name: WORKDIR
  value:  
- name: SERV_CON
  value:

jobs:
- job: TerraformInstall
  displayName: terraform install
  steps:
    - task: TerraformInstaller@1
      inputs:
        terraformVersion: 'latest'
- job: TerraformInit
  displayName: Terraform Init
  steps:
    -   
